@import '../../scss/global.scss';

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    visibility: visible;
    // display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    .close {
        color: #3f4d67;
        // float: right;
        font-size: 28px;
        font-weight: bold;
        // padding-top: 5px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    .close:hover,
    .close:focus {
        color: #3f4d67;
        text-decoration: none;
        cursor: pointer;
    }
}


.modal.exit {
    -webkit-animation-name: exitOut;
    -webkit-animation-duration: 0.3s;
    animation-name: exitOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
.modal.entry{
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
.modal-container{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    // padding: 50px;
    border: 1px solid #888;
    border-radius: 10px;
    // width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.modal-container.popup{
    width: 30%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // max-height: 100px;
    overflow-y: auto;
    @include small_portrait{
        width: 100%;
        margin: 30% auto;
    }
}
.modal-container.default{
    margin-top: 100px; /* Location of the box */
    width: 550px;
}
.modal-container.semi-wide{
    width: 40%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 70vh;
    overflow-y: auto;
    @include small_portrait{
        top: unset;
        bottom: 0px;
        left: 0px;
        transform: none;
        width: 100%;
        margin: none;
    }
}
.modal-container.wide{
    margin-top: 50px;
    width: 65%;
    max-height: 80vh;
    overflow: hidden;
}
.modal-container.full{
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.modal-container.slide-menu{
    width: 100vw;
    position: absolute;
    max-height: 40%;
    bottom: 0px
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from { height: 100%; opacity:0;visibility: hidden;} 
    to { height: 100%; opacity:1;visibility: visible;}
}

@keyframes animatetop {
    from { height: 100%; opacity:0;visibility: hidden;}
    to { height: 100%; opacity:1;visibility: visible;}
}

@-webkit-keyframes exitOut {
    from { height: 100%; opacity:1;visibility: visible; }
    to { height: 100%; opacity:0;visibility: hidden; }
}

@keyframes exitOut {
    from { height: 100%; opacity:1;visibility: visible; }
    to { height: 100%; opacity:0;visibility: hidden; }
}