@import '../../../assets/scss/global.scss';

.card-container{
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.21);
    margin: 10px 20px;
    padding: 20px;
    cursor: pointer;
    .selection-icon{
        position: absolute;
        top: 20px;
        left: 10px;
    }
    .menu{
        position: absolute;
        top: 20px;
        right: 10px;
    }
    .card-menu-container{
        position: absolute;
        top: 40px;
        right: 10px;
        background: #f1f1f1;
        z-index: 1;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.21);
        border-radius: 10px;
        width: 150px;
        @include small_portrait{
            display: none;
        }
        // div{
        //     width: 100%;
        //     padding: 10px 20px;
        //     border-bottom: 1px solid #ececec;
        // }
    }
    .card-menu-container.hide-menu{
        display: none;
    }
    .card-menu-container.show-menu{
        display: block;
    }
}

.show-selection{
    padding: 30px 10px;
}

.active-selection{
    border: 1px solid #1749a5;
}

.individual-card-selection-footer{
    height: 150px;
    background: white;
    padding: 0px;
}