
// @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
// Montserrat

@import './animations.scss';
@import './media-query.scss';
@import './variables.scss';

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

select, *:focus, *:blur{
    color: #00000000
}

*::-moz-focus-outer {
    border: 0;
}

a:hover, a:active, a:focus, a:link, a:visited {
    outline: 0;
    outline: 0 !important;
    outline-style:none;
  }
  button, object, embed { 
    outline: 0;
  }
  
  /* All Input elements */
  input::-moz-focus-inner { 
   outline: 0; 
  }
  
  /* Or more specifically*/
  input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner{
    outline: 0;
  }


*, *:before, *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body{
    font-family: 'Lato', 'Montserrat', sans-serif;
    font-size: 14px !important;
    line-height: 18px;
    color: #4a4a4a;
    -webkit-font-smoothing: antialiased;
}
.inline-block {
    display: inline-block;
}

@font-face {
    // font-family: Kabel-Black;;
    // src: url(../fonts/Kabel-Black.woff);
  }

html, body{
    overflow: auto;
    -webkit-overflow-scrolling: touch; 
}

.inline-block{
    display: inline-block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

input,
textarea {
    outline: none;
}


select,
input,
textarea,
button {
    font: 99% sans-serif;
}

pre,
code,
kbd,
samp {
    font-family:  'Lato', monospace, sans-serif;
}

body,
select,
input,
textarea {
    color: #545454;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: .5rem;
	font-family: inherit;
	line-height: 1.2;
	color: inherit
}

html {
    overflow-y: scroll;
}

a:hover,
a:active {
    outline: none;
}

ul,
ol {
    margin: 0;
}

ol {
    list-style-type: decimal;
}

nav ul,
nav li {
    margin: 0;
}

small {
    font-size: 85%;
}

strong,
th {
    font-weight: bold;
}

td,
td img {
    vertical-align: top;
}

textarea {
    overflow: auto;
}

p{
    line-height: 26px;
}

.ie6 legend,
.ie7 legend {
    margin-left: -7px;
}

[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="number"], [type="tel"], [type="date"], textarea, select, .input-prefix, .input-suffix {
    display: block;
    padding: 12px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #cecece;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: $white;
    color: #484848;
    line-height: normal;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

input[type="checkbox"] {
    vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
    vertical-align: baseline;
}

.ie6 input {
    vertical-align: text-bottom;
}

td {
    vertical-align: top;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 15px;
}

.ie6 legend,
.ie7 legend {
    margin-left: -7px;
}

input[type=button],
input[type=submit],
button {
    cursor: pointer;
}

button,
input,
select,
textarea {
    margin: 0;
}

input:valid,
textarea:valid {}


.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
    background-color: #f0dddd;
}


/* Hide out highlight color --
    ::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
    ::selection { background:#FF5E99; color:#fff; text-shadow: none; }
*/

a:link {}

button {
    width: auto;
    overflow: visible;
}

.ie7 img {
    -ms-interpolation-mode: bicubic;
}

.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}

.visuallyhidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}


/*
+  FANCY STYLES
-------------------------------------------------------------------------------------- */


.first {
    margin-left: 0 !important;
}

.last {
    margin-right: 0 !important;
}

.left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }
  
  .center {
    text-align: center;
    margin: 0 auto;
  }
  
  .justify {
    text-align: justify;
  }

.hide {
    display: none;
}

.visible {
    display: block !important;
}

.empty {
    visibility: hidden !important;
}


/* Usage <div class="hr"><hr /></div> */

.hr {
    clear: both;
    margin: 18px 0;
    background: transparent;
    border: none;
    border-top: 1px solid #bbb;
}

hr {
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    height: 0;
    border: none;
}

.accent,
strong.accent,
span.accent,
em.accent {
    background: #ffffbf !important;
    color: inherit;
    padding: .25em;
    font-weight: bold;
}

div.accent,
p.accent {
    padding: 1.5em;
}

.amp {
    font: italic 1.1em/10% "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", serif;
}


/* jQuery UI Helpers -*/

.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    position: absolute;
    left: -99999999px;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ui-helper-clearfix {
    display: inline-block;
}
.ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/* required comment for clearfix to work in Opera \*/

* html .ui-helper-clearfix {
    height: 1%;
}

.ui-helper-clearfix {
    display: block;
}


/* end clearfix */

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}

.ui-tabs-panel {
    display: block !important;
}

.ui-tabs-hide {
    display: none !important;
}

.gridlg{
    .grid{
        width: 1024px !important;
        @include mobile{
            width: 100% !important;
        }
    }
}

.grid{
    max-width: 1024px;
    margin: auto;
    position: relative;
}
.gridsm{
    max-width: 800px;
    margin: auto;
    position: relative;
}
.relative{
    position: relative;
}
.rupees{
    display: inline-block !important;
    font-family: Arial, Helvetica, sans-serif;
}

.padTzero{
    padding-top: 0 !important;
}
.padding-sm{
    padding: 90px 0 0 50px !important;
}
.pad-x-sm{
    padding-top: 20px !important;
}

.padTopZero{
    padding-top: 0 !important;
}
.padbotZero{
    padding-bottom: 0 !important;
}


.btn{
    text-align: center;
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 14px;
    transition: all .2s ease-in-out 0s;
}

.error{
    font-size: 11px;
    color: $alert;
    font-weight: normal;
    line-height: 0;
}

.primeBtn{
    background: $prime-black;
    color: $white;
    padding: 12px 25px;
    text-align: center;
    border-radius: 2px;
    font-size: 13px;
    transition: all .2s ease-in-out 0s;
    display: inline-block;
    border: 1px solid $prime-black;
    cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.primeBtn:hover{
    background-color: transparent;
    color: $prime-black;
    border: 1px solid $prime-green;
}

.secondaryBtn{
    background: $white;
    color: $prime-black;
    border: 1px solid $prime-black;
    padding: 12px 25px;
    text-align: center;
    border-radius: 2px;
    font-size: 13px;
    transition: all .2s ease-in-out 0s;
    display: inline-block;
    cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.secondaryBtn:hover{
    background-color: transparent;
    color: $white;
    border: 1px solid $prime-black;
    background: $prime-black;
}

.tertiaryBtn{
    background: none;
    color: $white;
    border: 1px solid $white;
    padding: 12px 25px;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
    transition: all .2s ease-in-out 0s;
    display: inline-block;
    cursor: pointer;
}
.tertiaryBtn:hover{
    background-color: $prime-black important;
    color: $white;
}
.no-link{
    cursor: default;
}
.no-link a{
    cursor: default;
}
.no-link .link{
    color: $prime-black !important;
}
.loader-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.li-bullet{
    font-size: 20px;
    display: inline-block;
    padding-right: 3px;
    position: relative;
    top: 2px;
}

.btn-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
	display: block;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
    z-index: 12;
    cursor: pointer;
    &:after, &:before{
        display: block;
        content: "";
        width: 2px;
        height: 100%;
        background-color: $prime-black;
        position: absolute;
        right: 50%;
        transition: all .15s ease
    }
    &:after{
        -webkit-transform: rotate(45deg);
	    transform: rotate(45deg)
    }
    &:before{
        -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg)
    }
    &:hover:after, &:hover:before{
        width: 2px
    }
    &:hover:after{
        -webkit-transform: rotate(90deg);
	    transform: rotate(90deg)
    }
    &:hover:before{
        -webkit-transform: rotate(-90deg);
	    transform: rotate(-90deg)
    }
}


.cercle-brand{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: 'transparent';
    border: 30px solid $white;
    position: 'absolute';
    z-index: 2;
    opacity: 0.1;
  }

@media (max-width: 980px){
    body{
        font-size: 13px !important;
    }
    .scrollerWrapper{
        width: auto;
        overflow: hidden;
        padding: 0;
        margin-bottom: 2em;
        white-space: nowrap;
    }

    .scrollerWrapper::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: hsla(0, 0%, 73%, .2);
        margin: 0 20px
    }
    
    .scrollerWrapper::-webkit-scrollbar {
        width: 2px;
        height: 2px;
        background-color: transparent
    }
    
    .scrollerWrapper::-webkit-scrollbar-thumb {
        border-radius: 10px;
        width: 75px;
        background-color: #4fc3f7
    }

    .horizontalScroll{
        white-space: nowrap;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding: 0;
        padding-right: 40px;
        transform: translateZ(0);
    }
    .padding-sm{
        padding: 50px 0 !important;
    }
}

.error {
    display: block;
    color: $alert;
    padding-top: 6px;
    font-size: 11px;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.centre{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.left{
    text-align: left;
}

.show-mobile{
    display: none;
    @include small_portrait{
        display: unset;
    }
}
.hide-mobile{
    display: unset;
    @include small_portrait{
        display: none;
    }
}


h2{
    font-size: 20px;
    font-weight: bolder;  
}
h5{
    font-size: 15px;
    font-weight: bold;
}
p{
    font-size: 14px;
    font-weight: 100;
}
span{
    font-size: 13px;
    font-weight: 100;
}


/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: #fff;
    // -webkit-border-radius: 10px;
    // border-radius: 10px;
    border-right: 1px solid #898989;
}

::-webkit-scrollbar-thumb {
    // -webkit-border-radius: 10px;
    // border-radius: 10px;
    background: #898989; 
}

.flex {
    display: flex;
}
.flex-end{
    display: flex;
    justify-content: space-between;
}

.flex-align-center{
    align-items: center;
}

.floating-button{
    position: fixed;
    bottom: 100px;
    right: 40px;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
}
.all-centre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.tile{
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
}
.red{ 
    background-color: #E21919;
    color: white;
}
.green{
    background-color: #11A861;
    color: white;
}
.yellow{
    background-color: #F3BE00;
    color: white;
}