@import '../../../../../scss/global.scss';

.nps-scale-view{
    position: relative;
    padding: 20px 60px 20px 20px;
    cursor: pointer;
    @include small_portrait{

        padding: 20px 10px 20px 10px;
    }
    // input{
    //     display: none;
    // }
    .header-row{
        p{
            font-size: 12px;
            color: $prime-blue;
        }
    }
    .number-row{
        @include small_portrait{
            flex-wrap: wrap;
            flex-flow: row wrap;
            align-content: space-between;
        }

        p{
            // flex:1;
            text-align: center;
            color: $prime-blue;
            background-color: $grey2;
            border-radius: 50%;
            border: 0.5px solid $prime-blue;
            @include small_portrait{
                width: 40px;
                height: 40px;
                padding-top: 5px;
                font-size: 13px;
            }
            @include medium_landscape{
                font-size: 12px;
                width: 25px;
                height: 25px;
                padding-top: 0px;
                line-height: 2;
            }
            @include large_landscape{
                font-size: 13px;
                width: 40px;
                height: 40px;
                padding-top: 5px;
            }
        }
        p:nth-child(6) {
            @include small_portrait{
                width:100%;
                flex:unset;
                border: none;
                height: 10px;
                background: white;
            }
           
          }
        p.active{
            background-color: $prime-blue;
            color: white;
            font-weight: bold;
            @include medium_landscape{
                font-size: 13px;
                padding-top: 0px;
            }
            @include large_landscape{
                font-size: 14px;
                padding-top: 5px;
            }
        }
    }
}